/target/
/dist/
/.build/
/reference_impls/
/resources/
/local_runs/
/phase_mnv_from_bam/
*.tmp
*.log
*.vcf
*.bcf
*.vcf.gz
!/tests/fixtures/*.vcf
!/tests/fixtures/*.vcf.gz
*.bam
*.bai
*.cram
*.crai
!/tests/fixtures/*.bam
!/tests/fixtures/*.bai
*.bcf.csi
*.vcf.gz.tbi
*.vcf.gz.csi
*.fai
README.html
.DS_Store
